*{
    margin: 0;
    padding: 0;
}
 .azeret-mono-text1{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* nav bar */
  .logo{
    padding-left: 150px;
    padding-top: 50px;
    width: 128px;
    height: 33px;
    font-size: 28px;
    color: #0D1321;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.first-btn{
    margin-top: 50px;
    margin-right: 150px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    color: #0D1321;
    border-width: .5px
}
/* header title img btn */
.father-1{
    margin-top: 40px;
    background-image: url(../assets/Hero-bg.png);
    
    
}
.father-1 .child-1 a{
    text-decoration: none;
}
.cute-boy{
    display: block;
    margin: auto;
}
.child-1 {
    padding-top: 30px;
    padding-bottom: 50px;
    
}
.child-1 .hoping h1{
    text-align: center;
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 35px;
    padding-bottom: 20px;
    font-weight: 800;
}
.child-1 .hoping p{
    text-align: center;
    padding-left: 210px;
    padding-right: 210px;
    padding-bottom: 35px;
}
/* adjust button */
.child-1 .contact{
    display: block;
    margin: auto;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
}
/* section why development */
.maher{
    margin: 0px 150px 0px 150px;
    padding: 80px 97px 80px 97px;
    background-color: rgba(13, 19, 33, 2%);
}
.cute-boy2{
    padding: 48px; 
    display: flex;
    /* background-color: ; */
    border-radius: 16px;   
}
.study .web-h , .sac-p{
    text-align: center;
}
.study .web-h{
    font-weight:800;
}
.study .sac-p{
    margin-top: 20px;
}
.cute-pappy{
    margin-right: 95px ;
}
.btn-1st-div{
    margin-top: 35px;
    padding: 10px;
    border-width: .5px;
}
.cute-pappy .h-2f{
    font-weight: 800;
}
.layere-2nd{
    display: flex;
    padding: 48px;
}
.text-p{
    margin-left: 95px;

}
.cute-pappy .h-2f span{
    color: #dc7323;
}
/* ifram adding */
.in-ifram{
    margin: 0 120px 0px 120px;

}
.in-ifram .i-fm{
    align-items: center;
    text-align: center;
}
.in-ifram .f-2{
    border-radius: 16px;
}
/* section target */
.target .tx{
    text-align: center;
}
.target .papa-2{
    display: flex;
    margin: 20px;
}
.papa-2 .baccha-1{
    padding: 30px;
    width: 360px;
    height: 200px;
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 5%);
    margin: 25px;
    font-size: 15px;
}
.papa-2 .baccha-2{
    padding: 30px;
    width: 360px;
    height: 200px;
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 5%);
    margin: 25px;
    font-size: 15px;
}
.papa-2 .baccha-3{
    padding: 30px;
    width: 360px;
    height: 200px;
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 5%);
    margin: 25px;
    font-size: 15px;
}
.papa-2 .logo-1{
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
}
/* support section */
.support {
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-position:center ;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 20%); */
    width: 900px;
    height: 250px;
    margin:100px  auto;
    border-radius: 16px;
    text-align: center;
    padding: 80px ;
}
/* support .text */
.support h3{
    font-weight: 700;
    font-size: 32px;
    color:#FFFFFF ;
}
.support p{
    color:#FFFFFF ;
    font-size: 16px;
}
.support #text{
    margin-top: 30px;
    width: 480px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    border-style: none;
}
.support #submit{
    width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    border-style: none;
}
/* footer and end */
footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(13, 19, 33, 3%);
    padding-top: 34px;
    padding-bottom: 34px;
    border-radius: 16px;
}
