*{
    margin: 0;
    padding: 0;
}
 .azeret-mono-text1{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* nav bar */
  .logo{
    padding-left: 150px;
    padding-top: 50px;
    width: 128px;
    height: 33px;
    font-size: 28px;
    color: #0D1321;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.first-btn{
    margin-top: 50px;
    margin-right: 150px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    color: #0D1321;
    border-width: .5px
}
/* header title img btn */
.father-1{
    margin-top: 40px;
    background-image: url(../assets/Hero-bg.png);
    
    
}
.cute-boy{
    display: block;
    margin: auto;
}
.child-1 {
    padding-top: 30px;
    padding-bottom: 50px;
    
}
.child-1 .hoping h1{
    text-align: center;
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 35px;
    padding-bottom: 20px;
    font-weight: 800;
}
.child-1 .hoping p{
    text-align: center;
    padding-left: 210px;
    padding-right: 210px;
    padding-bottom: 35px;
}
/* adjust button */
.child-1 .contact{
    display: block;
    margin: auto;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
}
/* section why development */
section{
    margin: 0px 150px 0px 150px;
    padding: 80px 97px 0px 97px;
    background-color: #0D1321, 2%;
}
.cute-boy2{
    padding: 48px; 
    display: flex;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.study .web-h , .sac-p{
    text-align: center;
}
.study .web-h{
    font-weight:800;
}
.study .sac-p{
    margin-top: 20px;
}
.cute-pappy{
    margin-right: 95px ;
}
.btn-1st-div{
    margin-top: 35px;
    padding: 10px;
    border-width: .5px;
}
.cute-pappy .h-2f{
    font-weight: 800;
}